<!DOCTYPE html>
<html>

<head>
  <title>Markdown2PDF</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Monofett" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
</head>

<body>
    <div class="center-text">
      <h1 id="markdown2pdf" class="center-text">Markdown2PDF</h1>
      <button class="center-text" onclick="generatePDF()">Generate PDF</button>
    </div>

      <textarea placeholder="Paste markdown here" class="col-md-6 full-height" id="pad">##Write your markdown here.

  </textarea>
      <div class="col-md-6 full-height" id="html-2-pdfwrapper"></div>

  <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>
  <script src="script.js"></script>

</body>

</html>
